
form{
    border: 1px solid #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
}
label{
    color: #fff;
}
input{
    width: 90%;
    margin: 2rem 0;
    padding: 1rem;

}